<html>
	<body ng-app="scrumboard.demo">
		{% verbatim %}
		<div ng-controller="ScrumboardController">
			<div ng-repeat="list in data">
				<h3>{{ list.name }}</h3>
				<ul>
					<li ng-repeat="card in list.cards">{{ card.title }}</li>
				</ul>
				<input type="text" ng-model="new_title" />
				<button ng-click ="add(list, new_title)">+</button>
			</div>
		</div>
		{% endverbatim %}

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script>
			(function(){
				'use strict';
				angular.module('scrumboard.demo', [])
					.controller('ScrumboardController', [ '$scope', ScrumboardController]);

				function ScrumboardController($scope){

					$scope.add = function (list, title) {
						var card = {
							title: title
						};
						list.cards.push(card);
					};
					$scope.data = [
						{
						name: 'Django demo',
						cards: [
							{
								title: 'Create Models'
							},
							{
								title: 'Create View'
							},
							{
								title: 'Migrate Database'
							}, 
						]
					},
					{

						name: 'Angular demo',
						cards: [
							{
								title: 'Write HTML'
							},
							{

								title: 'Write Javascript'
							},
						]

					}

				];

			}

		}());
		</script>
	</body>
</html>